<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>urChoice.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
				<key>dateExpires</key>
				<string>2022-09-21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BetterSegmentedControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CountryPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>EzPopup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Nuke.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RappleProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TTGSnackbar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GXFFLLM33K.com.app.urChoice</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GXFFLLM33K</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>urChoice.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3bdb41f9-044c-4498-8f09-42b3a99c42fb</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.app.urChoice</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GXFFLLM33K</string>
				<key>name</key>
				<string>Assed Ullah</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
