<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>urChoice.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2.1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
				<key>dateExpires</key>
				<string>2022-09-21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>BetterSegmentedControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CountryPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>EzPopup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>8.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>8.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>8.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>7.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GrowingTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.7.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>InputBarAccessoryView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MessageKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Nuke.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>9.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PhoneNumberKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RappleProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>5.11.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TTGSnackbar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>1.10.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C497A5F7726CA9F840F6A48F668FF78D08E6C0F9</string>
						<key>dateExpires</key>
						<string>2022-09-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GXFFLLM33K</string>
						<key>name</key>
						<string>Assed Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GXFFLLM33K.com.app.urChoice</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GXFFLLM33K</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>urChoice.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>330bbe4b-b6a3-4f3a-9c69-c27e27693fd0</string>
				<key>dateExpires</key>
				<string>2023-03-11</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.app.urChoice</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GXFFLLM33K</string>
				<key>name</key>
				<string>Assed Ullah</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
